<div>
  <h1>Send Tokens on Sepolia</h1>
  <form [formGroup]="transactionForm" (ngSubmit)="createTransaction()">
    <div>
      <label for="to">Recipient Address:</label>
      <input id="to" formControlName="to" required />
    </div>
    <div>
      <label for="amount">Amount:</label>
      <input id="amount" formControlName="amount" required />
    </div>
    <button type="submit">Send Transaction</button>
  </form>
</div>
<div *ngIf="account">
  <p>Connected Account: {{ account }}</p>
</div>
